---

---

<section class="contactame">
    <div class="contactame-container">
        <div class="contactame-container-text">
            <h2>¿Listo para iniciar tu nuevo proyecto?</h2>
        <p>Contáctame hoy para obtener una consulta gratuita y 
            comenzar a trabajar en tu próximo gran proyecto.</p>

        </div>
        <div class="contactame-container-enlaces">

        </div>
        
    </div>
</section>

<style>
    .contactame{
        background-image: url('../../public/img/codigo.png');
        width: 100%;
        max-width: 1366px;
        height: 500px;
        background-size: cover; /* Hace que la imagen cubra todo el div sin repetirse */
         background-position: center; /* Centra la imagen dentro del div */
         border: none;
    }
    .contactame-container{
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.753);
        color: white;
    }
    .contactame-container-text{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 50px;
    }
    .contactame-container-text h2{
        font-size: 3rem;
        text-align: center;
        
    }
    .contactame-container-text p{
        font-size: 1.5rem;
        margin-top: 3rem;
        text-align: center;
    }
</style>