.proyectos {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    max-width: 1366px;
}
.proyectos h2 {
    font-size: 3rem;
    color:#0c1445;
    font-weight: 700;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
   
   

}


.proyectos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust the gap between projects as needed */
    padding: 1rem;
}


.proyecto {
    flex: 1 1 calc(50% - 20px); /* Two projects per row with space between them */
    box-sizing: border-box;
    margin-bottom: 20px; /* Space below each project */
}

.proyecto-img img {
    width: 100%;
    height: auto;
    display: block;
}

.proyecto-info {
    padding: 10px;
    background-color: #f9f9f9; /* Adjust background color as needed */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional box shadow */
    border-radius: 5px; /* Optional border radius */
    color: #0c1445;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .proyecto {
        flex: 1 1 100%; /* Stacks projects in one column on smaller screens */
    }
}
