

.footer{
    width: 100%;
    background-color: #0c1445;
    color: white;
    display: flex;
   flex-direction: column;
}
.footer-content{
    display: flex;
    
    padding: 2rem;
}
.footer-left{
    flex: 1;
    justify-content: center;
    align-content: center;
    align-items: center;
 
    padding: 1rem;
}
.logo2 {
    width: 50%;
    height: auto;
   
    
}

.social-icons {
    display: flex;
    gap: 30px;
    padding-left: 1rem;
   
   
}
.social-icons a{
    color: white;
    text-decoration: none;

}

.footer-right{
    flex: 2;
    display: flex;
    flex-direction: row;
    
}
.footer-column{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.footer-column a{
    padding: 5px;
    color: white;
    text-decoration: none;
}
.footer-reservados{
    text-align: center;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.685);
}
