---
import './navbar.css';
---

<header class="header">
  <img class="logo"  src="/public/img/logo1.png">
  <input type="checkbox" id="toggle"></input>
  <label for="toggle"> <img class="menu" src="/public/img/menu.svg" alt="menu"></label>
  <nav class="navigation">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="#">Servicios</a>
      <ul>
        <li><a href="/Desarrollo_web">Desarrollo web</a></li>
        <li><a href="/Software_medida">Software a medida</a></li>
        <li><a href="/Soporte_TI">Soporte TI</a></li>
      </ul>
    </li>
      <li><a href="/projects">Proyectos</a></li>
      <li><a href="/about">Sobre mi</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/contact">Contactame</a></li>
    </ul>

  </nav>
</header>
