---
import './navbar2.css'
---
<footer class="footer">
    <div class="footer-content">
        <div class="footer-left">
            <img class="logo2" src="/public/img/logo1.png" alt="Logo">
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="footer-right">
            <div class="footer-column">
                <a href="#">Home</a>
                <a href="#">Sobre mí</a>
                <a href="#">Servicios</a>
            </div>
            <div class="footer-column">
                <a href="#">Desarrollo web</a>
                <a href="#">Software a medida</a>
                <a href="#">Soporte TI</a>
            </div>
            <div class="footer-column">
                <a href="#">Proyectos</a>
                <a href="#">Blog</a>
                <a href="#">Contáctame</a>
            </div>
        </div>
    </div>
    <div class="footer-reservados">
        <p>© 2024 Tony Valverde. Todos los derechos reservados.</p>
    </div>
</footer>